*{margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
    width: 100%;
    height: 10vh;
    position: sticky;
    background-color: #A6876B;
    margin-top: 2%; 
    display: flex;
    align-items: center;

}
header ul {

    padding-left: 20%;
}

header ul li {
    list-style: none;
	display:inline-block;
	color :black;
	font-size: 16px;
    padding-left: 20px;
}

header ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color :black;
}


#logo{
    padding-left: 8%;
}

#titulo{
    grid-column: 1/6;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8FA177;
    font-weight: 800;
    padding-left: 2%;
    padding-top:3%;
}
#tudo{
    display: grid;
    grid-template-columns: 10% 30% 30% 15% 15% ; 
    grid-template-rows: 8vh 70vh 3vh 20vh 10vh  ;
}
#vazio1{
    grid-column: 1;
    grid-row:1/5 ;
}
#vazio2{
    grid-column: 5;
    grid-row:1/5 ;
}
#form{
    grid-column: 2/4;
    background-color: #C2D1BD;
    border-radius:30px;
    grid-row:2/3;
    padding-left: 5%;
    padding-top:3%;
}

textarea{
    width: 70%;
    border-radius:10px;
    border: white;
    height: 10vh;
}
#btm3 input{
    border-radius:3px;
    background-color: #A6876B;
    border: #A6876B;
    width: 70%;
    height: 5vh;
}
#btm3 {
    padding-left: 80%;
}



.sub2{
    padding-top:2%;
    padding-bottom: 1%;
}
.input1{
    border-radius:20px;
    border: white;
    width: 30%;
    height: 4vh;

}
.select{
    border-radius:20px;
    border: white;
    width: 30%;
    height: 4vh;
}
#sub3{
    grid-column:2/4;
    grid-row: 4;  
}
#btn3{
    grid-column:4;
    grid-row: 5;
    padding-left: 80%;
}
#btn3 div{
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    width: 500%;
    height: 4vh;
    background-color:#C2D1BD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#btn3 a{
    color: black;
}

footer{
    height: 15vh;
    background-color: #8B5D43;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 5vh  5vh 5vh ;
    padding-left: 1%;
    padding-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.decorado{
    text-decoration: underline;
    grid-column: 1;
    grid-row: 2/3;
}

.decorado2{
    text-decoration: underline;
    grid-column: 2;
    grid-row: 2/3;
}
#svg{
    grid-column: 5;
    grid-row: 2/3;
    text-align: center;
    padding-top: 4%;
    padding-left: 50%;
}